---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y年%m月%d日" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.categories -%}
      <span class="post-categories">
        • 
        {% for category in page.categories %}
          <span class="category">{{ category }}</span>
          {%- unless forloop.last -%}, {%- endunless -%}
        {% endfor %}
      </span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post-footer">
    {%- if page.tags -%}
    <div class="post-tags">
      {% for tag in page.tags %}
        <span class="tag">#{{ tag }}</span>
      {% endfor %}
    </div>
    {%- endif -%}
  </footer>

</article>

<style>
.post-header {
  text-align: center;
  margin-bottom: 4rem;
}

.post-title {
  margin-bottom: 1rem;
}

.post-meta {
  color: #999;
  font-size: 0.875rem;
}

.post-categories {
  .category {
    color: #666;
  }
}

.post-content {
  max-width: 800px;
  margin: 0 auto;
}

.post-tags {
  margin-top: 4rem;
  text-align: center;
  
  .tag {
    display: inline-block;
    margin: 0 0.5rem;
    color: #999;
    font-size: 0.875rem;
  }
}
</style> 